.root {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  .settings {
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    div {
      cursor: pointer;
      width: 50%;
    }
    button {
      cursor: pointer;
      width: 50%;
      background-color: blue;
      color: white;
      padding: 10px 0;
      border-radius: 30px;
      border: none;
    }
  }
}
