.root {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  @media (max-width: 1040px) {
    padding: 0 20px;
  }

  .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    @media (max-width: 900px) {
      font-size: 12px;
    }

    div {
      cursor: pointer;
    }
  }
  .todoArea {
    width: 100%;
    margin-top: 20px;
  }
}
.setFilter {
  padding: 10px 5px;
  border-radius: 10px;
  color: white;
  background: blue;
}
